<strong>Controls:</strong>
<ul style="list-style-position: inside; padding-left: 0;">
    <li>Right-click folder or file for context menu</li>
    <li>N - New Folder</li>
    <li>F - New File</li>
    <li>Arrow Keys - Next/Prev Folder/file</li>
    <li>CTRL + X - Cut</li>
    <li>CTRL + C - Copy</li>
    <li>CTRL + Z - Undo</li>
    <li>CTRL + SHIFT + Z (OR) CTRL + Y - Redo</li>
    <li>Delete - Move to Trash / Delete from Trash / Empty Trash</li>
    <li>Enter - Expand / Collapse Folder</li>
    <li>S - Sort by LAST SORT</li>
    <li>R - Rename</li>
</ul>