{% load static from staticfiles %}
<!--Misc tools -->
<script src="{% static 'js/tools/logErrorOrDefault.js' %}"></script>
<script src="{% static 'js/tools/flagString.js' %}"></script>
<script src="{% static 'js/tools/exists.js' %}"></script>
<script src="{% static 'js/tools/jQ-flagObj.js' %}"></script>
<script src="{% static 'js/tools/jQ-classList.js' %}"></script>
<script src="{% static 'js/tools/jQ-toggleAttr.js' %}"></script>
<script src="{% static 'js/tools/jQ-hasAttr.js' %}"></script>
<script src="{% static 'js/tools/jQ-hasClasses.js' %}"></script>
<script src="{% static 'js/tools/jQ-displayBlockFilter.js' %}"></script>

<!--System-->
<script src="{% static 'js/my_files/system/tools.js' %}"></script>

<!--Global variable definitions -->
<script src="{% static 'js/my_files/control_scripts/definitions.js' %}"></script>

<!--Constructors and basic functions-->
<script src="{% static 'js/my_files/system/dir_objects.js' %}"></script>
<script src="{% static 'js/my_files/database/temporary.js' %}"></script>
<script src="{% static 'js/my_files/system/select_functions.js' %}"></script>

<!--Database Functions-->
<script src="{% static 'js/my_files/database/ajax_functions.js' %}"></script>
<script src="{% static 'js/my_files/database/crud_functions.js' %}"></script>
<script src="{% static 'js/my_files/system/undo.js' %}"></script>

<!--Folder/File Commands-->\
<script src="{% static 'js/my_files/file_commands/open.js' %}"></script>
<script src="{% static 'js/my_files/folder_commands/formation.js' %}"></script>
<script src="{% static 'js/my_files/folder_commands/sort.js' %}"></script>
<script src="{% static 'js/my_files/trash_commands/empty.js' %}"></script>
<script src="{% static 'js/my_files/trash_commands/restore.js' %}"></script>
<script src="{% static 'js/my_files/folder_and_file_commands/openContextMenu.js' %}"></script>
<script src="{% static 'js/my_files/folder_and_file_commands/moveTo.js' %}"></script>
<script src="{% static 'js/my_files/folder_commands/addObject.js' %}"></script>
<script src="{% static 'js/my_files/folder_and_file_commands/rename.js' %}"></script>
<script src="{% static 'js/my_files/folder_and_file_commands/cut_copy_paste_functions.js' %}"></script>
<script src="{% static 'js/my_files/folder_and_file_commands/properties.js' %}"></script>

<!--Event Handlers / Controllers-->
<script src="{% static 'js/my_files/control_scripts/debug.js' %}"></script>
<script src="{% static 'js/my_files/database/form_functions.js' %}"></script>
<script src="{% static 'js/my_files/system/runCommand.js' %}"></script>
<script src="{% static 'js/my_files/database/submit.js' %}"></script>
<script src="{% static 'js/my_files/control_scripts/eventListeners.js' %}"></script>
