{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!--CSS-->
  {% if request.get_host == '127.0.0.1:8000' %}
  <link rel="stylesheet" href="{% static 'css/other_projects/calculator_more/style.css' %}">
  {% else %}
  <link rel="stylesheet" href="{% static 'css/other_projects/calculator_more/styles.min.css' %}">
  {% endif %}

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="calc-target"></div>
    {% if request.get_host == '127.0.0.1:8000' %}
      <script src="{% static 'js/other_projects/calculator_more/calculator.js' %}"></script>
      <script src="{% static 'js/other_projects/calculator_more/buttons.js' %}"></script>
      <script src="{% static 'js/other_projects/calculator_more/window.js' %}"></script>
      <script src="{% static 'js/other_projects/calculator_more/calculatorUI.js' %}"></script>
      <script src="{% static 'js/other_projects/calculator_more/app.js' %}"></script>
    {% else %}
      <script src="{% static 'js/other_projects/calculator_more/app.min.js' %}"></script>
    {% endif %}
  </body>
</html>