{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <form>
  </form>
  {% if request.get_host == '127.0.0.1:8000' %}
  <link href={% static 'css/other_projects/calculator_pretty/style.css' %} rel="stylesheet">
  {% else %}
  <link href={% static 'css/other_projects/calculator_pretty/styles.min.css' %} rel="stylesheet">
  {% endif %}
</head>
<body>
  <div class="holder">
    <div class="container">
      <h1>JavaScript Calculator!</h1>
      <p>Project by Marcus Elliott</p>
      <form>
      </form>
    </div>

    <div class="container">
      <h4 id="mode">Press C-Key to start calculator!<br  />
      </h4>
      <ul id="calcwindow">
        <li class="window">&nbsp;</li>
        <li class="window">&nbsp;</li>
        <li class="window">&nbsp;</li>
        <li class="window"> </li>
      </ul>
    </div>
    <div class="mover">
      <div class="wrapper">
        <ul id="userarea">
        </ul>
      </div>
    </div>
  </div>
  {% if request.get_host == '127.0.0.1:8000' %}
  <script type="text/javascript" src="{% static 'js/other_projects/calculator_pretty/app.js' %}"></script>
  {% else %}
  <script type="text/javascript" src="{% static 'js/other_projects/calculator_pretty/app.min.js' %}"></script>
  {% endif %}

</body>
</html>