html {
  height: 100%;
  margin: 0
}

/* flexbox container for footer/header positioning in mobile display */
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .navbar {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.box .wrapper {
    margin: 90px 0;
    display: flex;
    flex-flow: column;
    flex: 1;
}

.container {
    height: 100%;
}

.footer,
.navbar {
    z-index: 10;
}


/* From Creative Tim */
.navigation .img-src{
    background-attachment: scroll;
}

.main{
    background-color: #fff;
/*     position: relative; */

}
.footer {
    background-attachment: fixed;
    position: relative;
    line-height: 20px;
}
.footer nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.footer nav > ul > li{
    display: inline-block;
    padding: 10px 15px;
    margin: 15px 3px;
    line-height: 20px;
    text-align: center;
}
.footer nav > ul > li:first-child{
    margin: 0;
    padding: 0;
}
.footer nav > ul a:not(.btn) {
  color: #777777;
  display: block;
  margin-bottom: 3px;
}
.footer nav > ul a:not(.btn):hover, .footer nav > ul a:not(.btn):focus {
  color: #E3E3E3;
}
.footer .copyright {
  color: #777777;
  padding: 5px 15px;
  font-size: 14px;
  margin: 15px 3px;
  line-height: 30px;
  text-align: center;
}

.parallax{
  width:100%;
  height:570px;

  display: block;
  background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;

}

.navbar-brand {
	height: auto;
}

.navbar .navbar-brand {
	/* margin-top: 0; */
	padding-bottom: 0;
	padding-top: 0;
}

.logo-container .logo{
    width: 64px;
    float: left;
}

.logo-container .brand{
    font-size: 24px;
    color: #FFFFFF;
    line-height: 64px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 50px;
    height: 32px;
}
.logo-container{
    /* margin-top: 10px; */
}
.logo-container .logo img{
    width: 100%;
}
.navbar-small .logo-container .brand{
    color: #333333;
}
.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}
.social-buttons-demo .btn{
    margin-right: 5px;
    margin-bottom: 7px;
}

.img-container{
    width: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
}
.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}
.navbar-transparent.navbar-small .logo-container .brand{
    color: #FFFFFF;
}
.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}
html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #f6f6f6;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navbar {
    background-color: #09A303;
	margin-top: 0;
	width: 100%;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	height: 60px;
	max-height: 15vh;
}

.communities-wrapper,
.posts-wrapper {
	position: relative;
}

.communities-page,
.posts-page,
.my-projects-page {
	margin-top: 20px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.half {
    max-width: 50%;
    text-align: center;
}

.center-y {
    display: table;
    height: 100%;
}

.center-y > *,
.center-y > * {
    display: table-cell;
    vertical-align: middle;
}

.center-justified > * {
  text-align: justify;
  margin: 0 auto;
  width: 15em;
}
