/* ||| General adjusters ||| */


.resize-50 {
    max-width: 50%;
    max-height: 50%;
}

a.anchor {
    display: block;
    position: relative;
    top: -15vh;
    visibility: hidden;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
}

/* ||| Nice boxes for bio/languages ||| */

.boxed-title {
    color: white;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
}

.boxed-title,
.boxed-content {
    padding: 3% 5%;
    margin: auto;
}

.boxed-content p,
.boxed-content ul {
    list-style-position: inside;
}

.boxed-parent {
    padding: 0 0 0 0;
    margin: 2% 5%;
    border: 2px solid black;
}

/* ||| Footer ||| */

.footer,
.navbar {
    z-index: 40;
}

.footer {
    background-attachment: fixed;
    line-height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 60px;
    max-height: 15vh;
}
.footer nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.footer nav > ul > li{
    display: inline-block;
    padding: 10px 15px;
    margin: 15px 3px;
    line-height: 20px;
    text-align: center;
}
.footer nav > ul > li:first-child{
    margin: 0;
    padding: 0;
}
.footer nav > ul a:not(.btn) {
  color: #777777;
  display: block;
  margin-bottom: 3px;
}
.footer nav > ul a:not(.btn):hover, .footer nav > ul a:not(.btn):focus {
  color: #E3E3E3;
}
.footer .copyright {
  color: #777777;
  padding: 5px 15px;
  font-size: 14px;
  margin: 15px 3px;
  line-height: 30px;
  text-align: center;
}

.section-dark {
  background-color: #1a1817;
  color: #FFFFFF;
}


/* ||| Makes languages into icons ||| */

.language.py {
    border-color: blue;
    background-color: blue;
}

.language.js {
    border-color: fuchsia;
    background-color: fuchsia;
}

.language.css {
    border-color: lawngreen;
    background-color: lawngreen;
    color: black;
}

.language.html {
    border-color: lightblue;
    background-color: lightblue;
    color: black;
}

.language.sql {
    border-color: lemonchiffon;
    background-color: lemonchiffon;
    color: black;
}

.language.ruby {
    border-color: indianred;
    background-color: indianred;
}

.language.java {
    border-color: darksalmon;
    background-color: darksalmon;
}

.language.csharp {
    border-color: darkslategray;
    background-color: darkslategray;
}

.language.php {
    border-color: darkmagenta;
    background-color: darkmagenta;
}

.language {
    margin: 2px 0;;
    border-color: green;
    background-color: green;
    border-radius: 25px;
    border-size: 5px;
    border-style: solid;
    color: white;
    display: inline-block
}

.inline-block {
    display: inline-block;
}