<div class="container mt-4">
    <h3>Proofs and Postulates:</h3>
    <ul id="proof-titles" class="row">
        <li class="col-md-3"><div class="inactive">Technological Evolution</div></li>
        <li class="col-md-3"><a href="#">Creators and Creations</a></li>
        <li class="col-md-3"><a href="#">Altruism of Intelligent Life</a></li>
        <li class="col-md-3"><a href="#">Time Travelers</a></li>
        <li class="col-md-3"><a href="#">Omnipotence</a></li>
        <li class="col-md-3"><a href="#">Omniscience</a></li>
        <li class="col-md-3"><a href="#">Omnipresence</a></li>
        <li class="col-md-3"><a href="#">"The Doctor" Postulate</a></li>
    </ul>
</div>
<div id="proof-list" class="container">
    <a id="active-proof" class="anchor"></a>
    <div class="proof-body" title="Technological Evolution">
        <h6>TECHNOLOGICAL EVOLUTION</h6>
        <p class="line">1. Invention and development improve methods and applications over time.</p>
        <p class="line">2. Nature contains complex mechanisms: natural and those produced through Biological Evolution.</p>
        <p class="sub tab">a. These mechanisms can be analyzed for their methods and applications.</p>
        <p class="line">3. Invention and development will adopt and improve nature’s methods and applications over time.</p>
        <p class="line"><strong>Summary: Anything nature can do man can do better.</strong></p>
    </div>
    <div class="hide proof-body" title="Creators and Creations">
        <h6>CREATORS AND CREATIONS</h6>
        <p class="line">1. All known creators (humans) are currently mortal.</p>
        <p class="line">2. Creations (ideas and applications) can be transmitted through generations.</p>
        <p class="sub tab">a. Creations can continue to influence future generations while a creator no longer can.</p>
        <p class="line">3. A creation can continue to be developed or evolve beyond its creator’s life time.</p>
        <p class="sub tab">a. A creation could evolve to a state unrecognizable by its creator.</p>
        <p class="sub double-tab"><small>1.</small> Creations that continue to evolve must do so because they have a great impact on civilization.</p>
        <p class="line">4. Some creations will have a greater impact on civilization than their creators.</p>
        <p class="line">5. Some creations are greater than their creators.</p>
        <p class="line"><strong>Summary: A creation may be greater than its creator.</strong></p>
    </div>
    <div class="hide" title="Altruism of Intelligent Life">
        <h6>ALTRUISM OF INTELLIGENT LIFE</h6>
        <p class="line"><i>Define altruism as a biological trait which increases the rate of selfless behaviors from an organism.</i></p>
        <p class="line">1. Altruism arises through Social Evolution which impacts Biological Evolution over a long time.</p>
        <p class="line">2. Social Evolution will increase or reduce altruism over time.</p>
        <p class="sub tab">a. Biological Evolution could remove or instate altruism over a long time.</p>
        <p class="line"><i>Define intelligence as a biological trait which allows abstract, non-instinctive conceptualization.</i></p>
        <p class="line">3. Intelligent creatures fluctuate in degree and presence of altruism over short and long periods of time, respectively.</p>
        <p class="sub tab">a. Intelligence does not necessarily precede altruism, and altruism does not necessarily precede intelligence.</p>
        <p class="sub tab">b. It is likely that intelligence increases the odds of evolving altruism and vice versa.</p>
        <p class="sub double-tab"><small>1.</small> It is unknown if altruism will remain as a species becomes more intelligent than humans.</p>
        <p class="line"><strong>Assumption: Alien intelligences exist.</strong></p>
        <p class="line">4. Alien intelligences may or may not be altruistic.</p>
        <p class="line">5. Humans are generally altruistic.</p>
        <p class="sub tab">a. Humans are more likely to be altruistic than alien intelligences.</p>
        <p class="line"><strong>Summary: Humans are more likely to be trustworthy than alien intelligences.</strong></p>

    </div>
    <div class="hide" title="Time Travelers">
        <h6>TIME TRAVELERS</h6>
        <p class="line"><i>Define time travel as free movement in the 4th, 5th, and 6th dimensions.</i></p>
        <p class="line"><strong>Assumption: Time travel is possible.</strong></p>
        <p class="line">1. Time travelers will one day exist.</p>
        <p class="sub tab">a. Time travelers may freely move into the past.</p>
        <p class="line">2. Time travelers exist now.</p>
        <p class="line"></p><strong>Summary: If time travelers will ever exist then they exist now.</strong></p>
        <p class="line">3. Human or human derived time travelers will one day exist.</p>
        <p class="line">4. Human or human derived time travelers exist now.</p>
        <p class="line"><strong>Summary: If human or human derived time travelers will ever exist then they exist now.</strong></p>
        <p class="line"><i>Refer to “Altruism of Intelligent Life”.</i></p>
        <p class="line">5. Human or human derived time travelers have an altruistic trait in their evolutionary past.</p>
        <p class="sub tab">a. Human or human derived time travelers are more likely to be altruistic than alien time travelers.</p>
        <p class="line"><strong>Summary: Human or human derived time travelers are more likely to be trustworthy than other time travelers.</strong></p>
        <p class="line">6. Human or human derived time travelers may or may not retain their altruism.</p>
        <p class="line"><strong>Summary: Modern humans are more likely to be trustworthy than human or human derived time travelers.</strong></p>

    </div>
    <div class="hide" title="Omnipotence">
        <h6>OMNIPOTENCE</h6>
        <p class="line"><i>Define omnipotence as the capability to complete any action or comprise any status.</i></p>
        <p class="line">1. Some statuses or capabilities are logical or definitional contradictions.</p>
        <p class="sub tab">(e.g. mortality and immortality cannot be simultaneously achieved)</p>
        <p class="line">2. Some statuses or capabilities cannot be simultaneously achieved.</p>
        <p class="line"><strong>Summary: Omnipotence is impossible.</strong></p>

    </div>
    <div class="hide" title="Omniscience">
        <h6>OMNISCIENCE</h6>
        <p class="line"><i>Define omniscience as the capability to know all things to the finest possible detail.</i></p>
        <p class="line"><strong>Simplification: The finest possible detail is at the atomic level.</strong>
        <p class="line"><strong>Simplification: There is only one universe.</strong>
        <p class="line">1. Imagine a computer (brain) derived of atoms, in which each atom was a binary bit.</p>
        <p class="line">2. The amount of feasible information at the atomic level would require at least one bit per atom.</p>
        <p class="sub tab">(In actuality this number is far greater)</p>
        <p class="line">3. This computer must be greater than or equal to the size of the entire universe to contain all information in the universe.</p>
        <p class="line">4. This computer must be greater than or equal to the size of itself again to contain all information that its own structure represents. </p>
        <p class="line">5. This computer must be at least twice the size of the universe.</p>
        <p class="line">6. Such a computer is absurd as it is larger than all space.</p>
        <p class="line"><strong>Summary: Omniscience is impossible.</strong></p>

    </div>
    <div class="hide" title="Omnipresence">
        <h6>OMNIPRESENCE</h6>
        <p class="line"><i>Define omnipresence as occupation of all possible space in a three-dimensional universe.</i></p>
        <p class="line">1. An omnipresent being occupies the entire universe.</p>
        <p class="line">2. The universe occupies the entire universe.</p>
        <p class="line">3. It is absurd for two objects to occupy the same location.</p>
        <p class="line"><strong>Summary: Omnipresence is impossible.</strong></p>
    </div>
    <div class="hide" title='"The Doctor" Postulate'>
        <h6>"THE DOCTOR" POSTULATE</h6>
        <p class="line">1. Imagine a medical doctor who alters his patient’s status through intentional and unintentional means.</p>
        <p class="line">2. The doctor might or may not understand the full effect of his treatments to the greatest possible precision.</p>
        <p class="sub tab">a. Effects may lie outside his observational capacity.</p>
        <p class="sub double-tab"><small>1.</small> Too much difference in scale or scope.</p>
        <p class="sub tab">b. Effects may lie outside his mental capacity.</p>
        <p class="sub tab">c. Effects may lie outside his theoretical concepts.</p>
        <p class="line">3. The doctor’s treatments will cause unexpected and expected results.</p>
        <p class="sub tab">a. The unexpected results may remain latent.</p>
        <p class="sub double-tab"><small>1.</small> Side symptoms</p>
        <p class="line"><i> Refer to “TIME TRAVELERS”, “OMNIPOTENCE”, “OMNISCIENCE”, “OMNIPRESENCE”, AND “ALTRUISM OF INTELLIGENT LIFE”.</i></p>
        <p class="line">4. Imagine a time traveler who alters reality through intentional and unintentional means.</p>
        <p class="line">5. The time traveler cannot understand and might or may not be concerned with the full effect of his alterations to the greatest possible precision.</p>
        <p class="line">6. The time traveler’s alterations will cause unexpected and expected results.</p>
        <p class="sub tab">a. The unexpected results may remain latent.</p>
        <p class="line"><i>Consider the “Kardashev Scale”.</i></p>
        <p class="line">7. The time traveler requires energy on a far greater scale than pre-Kardashevian and Types I through IV civilizations.</p>
        <p class="sub tab">a. The energy required to warp time is likely equivalent to the energy contained as time.</p>
        <p class="sub double-tab"><small>1.</small> To consume time the time traveler must break time down to a less energetic state.</p>
        <p class="line">8. In obtaining this energy, the time traveler may damage the home universe of lower civilizations with or without knowledge and with or without concern.</p>
        <p class="line"><strong>Summary: If time travelers exist they might be affecting us now and may not be aware nor concerned.</strong></p>
    </div>
</div>