a.anchor{
    display: block;
    position: relative;
    top: -15vh;
    visibility: hidden;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#proof-list {
    margin-top: 5vh;
    border: 2px solid green;
    background-color: #ebfae8;
    width: 100%;
}

.hide {
    display: none;
}

.line {
    margin: 20px 0 0 0;
}

.sub{
    white-space: pre-wrap;
    margin: 0;
}

.tab {
    padding-left: 20px;
}

.double-tab {
    padding-left: 40px;
}

div.inactive {
    color: red;
}